rpc {{ method_name }}(
    {% if request_stream %}stream {% endif %}{{ request_type }}
) returns (
    {% if response_stream %}stream {% endif %}{{ response_type }}
) {
{% if options %}
{% for key, val in options.items() %}
  option {{ key }} = {{ val }};
{% endfor %}
{% endif %}
}