{% extends "comment.j2" %}
{% block content %}
rpc {{ method_name }}({% if request_stream %}stream {% endif %}{{ request_type }}) returns ({% if response_stream %}stream {% endif %}{{ response_type }}) {
{% for key, val in (options or {}).items() %}
  option {{ (key, val) | format_option }};
{% endfor %}
}
{% endblock %}